.user-profile{
  gap: 10px;
  display: flex;
  flex-direction: column;
  .profile-bio-section{
    background-color: darkgrey;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
  }
  .user-bio-section{
    background-color: darkgoldenrod;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
  }
}
