<div class="row">
  <div class="col mb-3">
    <h2>Task List</h2>
  </div>
</div>
<div class="row">
  @if (tasks.length === 0) {
  <div class="col-12 card p-3 shadow border-0 text-center">
    <p class="mb-0 p-5 fw-bolder">No data found</p>
  </div>
  } @else {
  @for (task of tasks; track task.id) {
  <div class="col-6 mb-3">
    <div class="card p-3 shadow border-0">
      <h5 class="card-title">{{ task.title | titlecase }}</h5>
      <p class="card-text">{{ task.description }}</p>
      <p class="card-text">Due: {{ task.dueDate | date:'mediumDate' }}</p>
      <p class="card-text">Status: <strong>{{ task.dueDate | status:task.completed }}</strong></p>
      <div class="row">
        <div class="col-auto ms-auto">
          <button [disabled]="task.completed" class="btn btn-primary"
            (click)="taskService.completeTask(task.id)">Complete</button>
        </div>
      </div>
    </div>
  </div>
  }
  }
