<div class="row">
  <div class="col mb-3">
    <h2>Add New Task</h2>
  </div>
</div>
<div class="row">
  <div class="col">
  </div>
</div>
<form class="card p-3 shadow border-0" (ngSubmit)="addTask()">
  <div class="mb-3">
    <label class="form-label fw-bolder">Title:</label>
    <input class="form-control" type="text" [(ngModel)]="newTaskTitle" name="title" required />
  </div>
  <div class="mb-3">
    <label class="form-label fw-bolder">Description:</label>
    <input class="form-control" type="text" [(ngModel)]="newTaskDescription" name="description" />
  </div>
  <div class="mb-3">
    <label class="form-label fw-bolder">Due Date:</label>
    <input class="form-control" type="date" [(ngModel)]="newTaskDueDate" name="dueDate" required />
  </div>
  <button type="submit" class="btn btn-primary">Add Task</button>
</form>
